.cntner {
  display: flex;
  margin: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}
.sec-cntner {
  width: 300px;
  height: 150px;
}
.title {
  font-family: "Courier New", Courier, monospace;
  color: coral;
}
.body {
  color: #f4f4f4;
}
